project/cloud-ci/src/main/resources/configuration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="project">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="actions"/>
                <xs:element type="xs:string" name="description"/>
                <xs:element type="xs:string" name="keepDependencies"/>
                <xs:element type="xs:string" name="properties"/>
                <xs:element name="scm">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="configVersion" type="xs:int"/>
                            <xs:element name="userRemoteConfigs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hudson.plugins.git.UserRemoteConfig">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="url" type="xs:string"/>
                                                    <xs:element name="credentialsId" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="branches">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hudson.plugins.git.BranchSpec">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="doGenerateSubmoduleConfigurations" type="xs:boolean"/>
                            <xs:element name="submoduleCfg">
                                <xs:complexType>
                                    <xs:attribute name="class" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="extensions" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="class" type="xs:string"/>
                        <xs:attribute name="plugin" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="canRoam"/>
                <xs:element type="xs:string" name="disabled"/>
                <xs:element type="xs:string" name="blockBuildWhenDownstreamBuilding"/>
                <xs:element type="xs:string" name="blockBuildWhenUpstreamBuilding"/>
                <xs:element type="xs:string" name="triggers"/>
                <xs:element type="xs:string" name="concurrentBuild"/>
                <xs:element name="builders">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hudson.tasks.BatchFile">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="command"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="hudson.tasks.Shell">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="command"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="publishers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hudson.tasks.ArtifactArchiver">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="artifacts"/>
                                        <xs:element type="xs:string" name="allowEmptyArchive"/>
                                        <xs:element type="xs:string" name="onlyIfSuccessful"/>
                                        <xs:element type="xs:string" name="fingerprint"/>
                                        <xs:element type="xs:string" name="defaultExcludes"/>
                                        <xs:element type="xs:string" name="caseSensitive"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="buildWrappers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hudson.plugins.ws__cleanup.PreBuildCleanup">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="deleteDirs"/>
                                        <xs:element type="xs:string" name="cleanupParameter"/>
                                        <xs:element type="xs:string" name="externalDelete"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="plugin"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="hudson.plugins.build__timeout.BuildTimeoutWrapper">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="strategy">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="timeoutMinutes"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="class"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="operationList">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string"
                                                                name="hudson.plugins.build__timeout.operations.FailOperation"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="plugin"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="hpi.CopyDataToWorkspacePlugin">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="folderPath"/>
                                        <xs:element type="xs:string" name="makeFilesExecutable"/>
                                        <xs:element type="xs:string" name="deleteFilesAfterBuild"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="plugin"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>